bloglist.txt
search_result_*.html
dist/

query.txt
entries/*.html
mid_data/*.html
text/*.txt
cabocha_xml/*.xml
verb_chain/*.txt

/result*
exe_list.sh

*.bak

counted_filtered_bigrams.txt
counted_filtered_verbs.txt
filtered_bigrams_probability.txt
filtered_verbs_probability.txt
filtered_pmi.txt
list.txt
